/* FilterDemoStyles.css */
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.mb-4 {
  margin-bottom: 1rem;
}

.table-container {
  width: 100%;
  font-family: Arial, sans-serif;
}

.p-input-icon-left {
  position: relative;
}

.pi {
  display: inline-block;
  font-family: "PrimeIcons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.pi-search:before {
  content: "\\e904";
}

.p-inputtext {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.select-button-container {
  text-align: center;
  margin-bottom: 2rem;
}

.column-style {
  width: 30%;
  text-align: left;
}

.tree-table {
  width: 100%;
}

.tree-table-header {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-row {
  background-color: #ffffff;
}

.odd-row {
  background-color: #f2f2f2;
}

.table-cell {
  padding: 0.5rem;
}
